@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@100 & display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 1px;
    box-sizing: border-box;
    background-color: #000000;
}

.cabecalho_menu_link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;
    text-decoration: none;
    margin: 0 20px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.conteudo_titulo {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 56px;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD
}

.conteudo_texto {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #F6F6F6;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 15%;
}

.conteudo {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    flex-direction: column;
    align-items: center;
    size: 10px;
}

.subt_link {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #F6F6F6;
}

.link {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 21.5px 1;
}

a {
    text-decoration: none;
    justify-content: space-between;
    padding: 10px;
}

.link:hover {
    background-color: #328092;
}

h5 {
    width: 91px;
    height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    left: 10%;
    color: #F6F6F6;
    flex: none;
    order: 1;
    flex-grow: 0;
}

i {
    width: 32px;
    padding: 15px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #22D4FD;
}

img {
    position: absolute;
    border-radius: 16px;
    width: 450px;
    height: 480px;
    left: 890px;
    top: 150px;
    z-index: 2;
}

.quadrado {
    box-sizing: border-box;
    position: absolute;
    width: 450px;
    height: 480px;
    left: 910px;
    top: 135px;
    border: 3px solid #22D4FD;
    border-radius: 16px;
    z-index: 1;
}

.rodape {
    color: #000000;
    background-color: #22D4FD;
    padding: 23px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}